{include file="common::header"/}
<link rel="stylesheet" href="__STATIC__/index/css/media.css">
<style type="text/css">
    .help_content{
        height: auto;
    }
    .help_nav{
        width: 240px;
        min-height: 900px;
    }
    .help_list{
        width: 900px;
        min-height: 840px;
        height: auto;
        padding: 26px 26px 32px 26px;
        margin-bottom: 20px;
    }
    .help_list > h3{
        font-size: 24px;
        font-weight: lighter;
        padding: 8px 0;
    }
    .help_nav li{
        padding-left: 10px;
        padding-right: 10px;

    }
    .help_nav li a{
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
    }

    .hc_list{
        margin-top: 110px;
        height: 145px;
        width: 100%;
        overflow: hidden;
    }
    .hc_list li{
        float: left;
        width:399px;
        height: 145px;
        text-align: center;
        border-left: 1px solid #d1d1d1;
    }
    .hc_list:first-child{
        width: 400px;
        border: none;
    }
    .hc_list i{
        display: block;
        width: 100%;
        height: 106px;
    }
    .hc_list a{
        color: #333;
        display: block;
        transition: all .5s;
    }
    .hc_list a>div{
        height: 145px;
    }


    .hc_list li{border-color: #e5e5e5}
    .hc_list li:first-child{border: none}
    .hc_list li p{line-height: 30px}


    .hc_list li{overflow: hidden}
    .hc_list li i{position: relative;height: 64px}
    .hc_two{
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        background: #fff;
        transition: all .5s
    }
    .hc_list a{position: relative}
    .hc_list li:hover i{
        animation: Down 3s infinite ease;
    }
    .hc_list li:hover .hc_two{
        right:0
    }
    @keyframes Down {
        0%{top: -5px}
        20%{top: 0}
        40%{top: -5px}
        60%{top: 0}
        80%{top: -5px}
        100%{top: 0}
    }
    .help_list a{color: #00ceff;}
    .article-extra-info {
        display: block !important;
        height: auto !important;
        margin-bottom: 14px;
        color: #666666;
        font-size: 14px;
        /*text-indent: 2em;*/
    }
    .help-related{
        display: block !important;
        height: auto !important;
        padding: 0 0 20px 0;
    }
    .help-recommend{
        display: block !important;
        height: auto !important;
        border-top: 1px solid #cccccc;
        padding-top: 10px;
    }
    .help-related a{
        display: inline-block;
        width: 49%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        float: left;
    }
    .help-related a,
    .help-recommend a{
        color: #666666;
    }
    .article_main_min_height{ display: block; min-height: 540px; }
</style>
<div class="banner help_banner">
    <div id="particles-js"></div>
    <div class="hb_content">
        <h3>帮助文档</h3>
        <p>关注用户体验  提升价值服务</p>
    </div>
</div>
<div class="help_guide anim-start clearfix" >
    <div class="w1200">
        <a href="/i4r0/" class="hg_use" style="width: 46%;">
            <i></i>
            <p>安装使用</p>
        </a>
        <a href="/q3r0/" class="hg_question" style="width: 46%;">
        <i></i>
        <p>常见问题</p>
    </a>
    </div>
</div>
<div class="help_content anim-start clearfix">
    <div class="w1200">
        <div class="breadcrumb">
            <a href="#">帮助中心</a> > <a href="#">文章列表</a>
        </div>
        <div class="help_nav">
            <h3>文章列表</h3>
            <hr>
            <ul>
                <li>
                    <a href="/q3r8193/">什么是高匿、匿名和透明代理？它们有什么区别？</a>
                </li>
            </ul>
        </div>
        <div class="help_list" style="line-height: 180%;">
            <h3>{$article.title}</h3>
            <hr/>
            <section class="article_main_min_height">
                {$article.content|htmlspecialchars_decode}
            </section>
            <h3>相关文章</h3>
            <hr/>
            <div class="help-related">
                <a href="/q3r29/">豌豆软件特色功能有哪些</a>
                <div class="clearfix"></div>
            </div>
            <div class="help-recommend">
                <div>
                    上一篇：<a href="/q3r31/">如何充值（手机版）</a>                </div>
                <div>
                    下一篇：<a href="/q3r8186/">什么是代理IP？什么情况下会用到代理IP？</a>                </div>
            </div>

        </div>
    </div>
</div>
<div class="help_call anim-start clearfix" style="height: 280px;">
    <div class="w1200">
        <div class="hc_title">
            <h2>没有找到答案？</h2>
            <p>你可以联络我们获取更多信息</p>
        </div>
    </div>
</div>


{include file="common::footer"/}
<script>
    $('.icon').mouseover(function() {
        $(".info").show();
    });
    $('.slide b').click(function() {
        $(".info").fadeOut();
    });
    $(function () {
        $('.help_guide a').eq(0).addClass('active');
    });
</script>
<script src="__STATIC__/index/js/index.js"></script>
<script src="__STATIC__/index/js/clipboard.min.js"></script>
<script src="__STATIC__/index/js/particles.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/gradient.js"></script>

</body>
</html>
