{include file="common::header"/}

<style type="text/css">
    .activity-info {
        width: 1200px;
        margin: 0 auto;
        margin-top: 120px;
        margin-bottom: 60px;
        line-height: 180%;
        font-size: 18px;
        color: rgba(90, 90, 90, 0.93);
        min-height: 500px;
    }

    .activity-info>h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 46px;
        color: rgba(90, 90, 90, 0.93);
        text-align: center;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    .article-related a {
        width: 49%;
        float: left;
    }
    .article-extra-info {
        margin-bottom: 14px;
        color: #666666;
        font-size: 14px;
        text-align: right;
        margin-right: 8% ;
        /*text-indent: 2em;*/
    }

</style>
<div class="activity-info anim-go anim-end">

    <h2 class="static_title">{$article.title}</h2>
    <div class="article-extra-info time">
        发布者：
        <time>{$article.author}</time>
        发布时间：
        <time>{$article.update_time|date='Y/m/d h:i:s',###}</time>
    </div>
    <hr/>
    <section>
        <div class="show-content-free">
            {$article.content|htmlspecialchars_decode}
        </div>
    </section>
    <section>
        <hr>
        <div>
            上一篇：{empty name='front'}前面没有了{else /}<a href="/news/{$front.id}/">{$front.title}</a>{/empty}
        </div>
        <div>
            下一篇：{empty name='after'}没有更多了{else /}<a href="/news/{$after.id}/">{$after.title}</a>{/empty}
        </div>

    </section>


</code></div>
{include file="common::footer"/}