{include file="common::header"/}

<style>
    body{
        background: #ffffff;
    }
    .page_nav{
        line-height: 60px;
        padding: 0 20px 0 20px;
    }
    .page_nav a{
        /*text-decoration: underline;*/
        color: #939393;
    }
    .page_nav a:hover{
        color: #0d0d0d;
        text-decoration: underline;
    }
</style>
<link rel="stylesheet" href="__STATIC__/index/css/order.css">
<div class="vip_content">
    <div class="w1200">
        {include file="user::menu"/}
        <div class="r vip_list" >
            <div class="vc_con active">
                <h3>结算记录</h3>
                <table width="auto" style="white-space:nowrap">
                    <thead>
                    <tr>
                        <th>单号</th>
                        <th>总额</th>
                        <th>费率</th>
                        <th>付额</th>
                        <th>备注</th>
                        <th class="vc_time">更新</th>
                    </tr>
                    </thead>
                    <tbody class="vc_tbody">
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$vo.settle_no}</td>
                        <td>￥{$vo.amount}</td>
                        <td>{$vo.fee}</td>
                        <td class="vc_money">￥{$vo.actual}</td>
                        <td>{$vo.remarks}</td>
                        <td class="vc_time">{$vo.update_time|date='Y/m/d h:i:s',###}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="page_nav">
                    {$list->render()}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{include file="common::footer"/}
</body>
</html>