<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>小红帽科技|草帽聚合支付 - 一站式支付服务供应商</title>
    <meta name="description" content=。">
    <meta name="keywords" content="余呗支付">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="__STATIC__/index/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/index/css/common.css">
    <!--Layui-->
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <!--/Layui-->
</head>
<body class="container">
<div class="header">
    <div class="w1200">
        <a href="/" class="l logo">
            <div class="header_logo" title="草帽支付官方网站" style='background: url("__STATIC__/black-logo-200-60.png") center center no-repeat;' ></div>
        </a>
        <i class="head_menu"></i>
        <i class="nav_bg"></i>
        <i class="head_user"></i>
        {if $Request.controller == 'Index'}
        <div class="nav l">
            <ul>
                <li class="{$Request.action == 'index'?'active':''} index"><a href="/">首页</a></li>
                <li class="{$Request.action == 'news'?'active':''} news"><a href="javascript:void(0);">动态</a></li>
                <li class="{$Request.action == 'pricing'?'active':''} pricing"><a href="javascript:void(0);">定价</a></li>
                <li class="{$Request.action == 'get'?'active':''} get"><a href="/get">API测试</a></li>
                <li class="{$Request.action == 'help'?'active':''} help"><a href="javascript:void(0);">帮助</a></li>
            </ul>
        </div>
        {/if}
        {if is_login()}
        <div class="hl_admin">
            <a class="admin_user" href="{:url('index/user/index')}">
                <img src="__STATIC__/index/images/my.png" class="icon_user">
                <span>{$Think.session.user_info.account}</span>
                <i class="arrow"></i>
            </a>
            <ul>
                <li><a href="{:url('index/user/index')}">会员中心</a></li>
                <li><a href="javascript:layer.alert('请联系客服 :)');">修改密码</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
        {else /}
        <div class="head_reg r">
            {if $Request.action !== 'login'}
            <a href="{:url('index/login/login')}" class="login_a">登录</a>
            {/if}
            {if $Request.action !== 'register'}
            <a href="{:url('index/login/register')}" class="reg_a">立即注册</a>
            {/if}
        </div>
        {/if}

    </div>
</div>