/*响应式隐藏*/
.head_menu{
    width: 70px;
    height: 70px;
    float: right;
    background: url("../images/menu.png") no-repeat center;
    display: none;
}
.head_role{
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 50px;
    background: url("../images/role.png") no-repeat center;
    display: none;
}
.nav_bg{
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10000px;
    z-index: 10;
    display: none;
}
.head_user{
    width: 70px;
    height: 70px;
    float: right;
    background: url("../images/my.png") no-repeat center;
    display: none;
}

.header{
    width: 100%;
    height: 79px;
    background: url("../images/head_bg.png") repeat-x center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: white; box-shadow: rgb(245, 245, 245) 0px 1px 3px;
}

.header_logo {
    width: 200px;
    height: 64px;
    background: url('../images/logo2.png') no-repeat center;
}

.logo{
    width: 152px;
    height: 43px;
    margin: 14px 130px 0 46px;
}
.nav li{
    float: left;
    line-height: 70px;
    text-align: center;
    height: 70px;
    font-size: 18px;
    padding:0 30px;
}
.nav li a{display: block;width: 100%;height: 100%;transition: all .5s;}
.nav li a:hover,.nav li.active a{color: #00ceff;}
.head_reg{
    margin:18px 30px 0 0;
}
.head_reg a{
    display: inline-block;
    width: 90px;
    height: 34px;
    background: url("../images/head_rad.png") no-repeat center;
    text-align: center;
    line-height: 34px;
    transition: all .5s;
    margin-left: 10px;
}
.head_reg a.login_a:hover{background: url("../images/head_radh.png") no-repeat center; color: #fff;}
/*底部*/
.footer{
    width: 100%;
    height: 355px;
    background: #141618;
    color: #fff;
    padding-top: 63px;
    position: relative;
    z-index: 5;
}
.footer .w1200{position: relative}
.footer a{color: #fff}
.footer a:hover{color: #00ceff}
.footer dl{float: left;height: 151px;padding: 0 30px}
.footer dd{font-size: 15px;line-height: 40px}
.footer dt{font-size: 18px;margin-bottom: 15px}
.f_con{width: 800px; margin: 0 auto}
.footer .fc_top, .footer dl a {
    color: #dddddd;
}
.footer .friend-link {
    margin: 14px 0 0 30px;
    font-size: 14px;
}
.footer .friend-link a {
    color: #656565;
    margin: 0 4px 0 4px;
}
.fc_top{
    height: 191px;
    border-bottom: 1px solid #4c4e50;
}
.fc_bottom{
    height: 143px;
    margin-top: 20px;
}
.f_logo{
    height: 143px;
    width: 152px;
    margin-left: 30px;
}
.f_logo img{
    margin-top: 10px;
    mix-blend-mode: soft-light;
}
.fc_con{
    width: 470px;
    margin-right: 55px;
    padding-top: 10px;
    height: 133px;
    text-align: left;
    color: #4c4e50;
    font-size: 12px;
    line-height: 24px;
}
.f_ewm{
    position: absolute;
    top: 0;
    right: 200px;
    width: 160px;
    height: 180px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
.f_ewm_a{animation: EWM 1.5S}
.f_ewm p:last-child {
    font-size: 12px;
    color: #dddddd;
}
/*主页banner*/
.index_banner{
    width: 100%;
    height: 620px;
    background:url("../images/banner-bg.png") no-repeat top;
}
.index_banner .w1200{ position: relative;height: 980px}
.ib_phone{
    width: 290px;
    height: 320px;
    background: url("../images/ban_phone.png") no-repeat center;
    margin: 0 auto;
    animation: Bottom 1.8s;
    position: relative;
}
.ib_phone i{
    display: block;
    position: absolute;
    left: 50%;
}
.ibp_big{
    width: 181px;
    height: 181px;
    background: url("../images/radius_3.png") no-repeat center;
    margin-left: -90px;
    top: -20px;
    -webkit-animation: Radius2 2s;
    -moz-animation: Radius2 2s;
    animation: Radius2 2s ;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: 1;
    background: #f0fbff;
    border-radius: 50%;
    animation-delay: .3s;
}
.ibp_center{
    width: 153px;
    height: 153px;
    /*background: url("../images/radius_2.png") no-repeat center;*/
    background: #d5f5ff;
    border-radius: 50%;
    margin-left: -76px;
    top: -6px;
    -webkit-animation: Radius 2s;
    -moz-animation: Radius 2s;
    animation: Radius 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: 2;

}
.ibp_small{
    width: 126px;
    height: 126px;
    background: url("../images/ban_ip.png") no-repeat center;
    margin-left: -63px;
    top:8px;
    z-index: 3;
}

@keyframes Bottom {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes Radius {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);

    }
}
@keyframes Radius2 {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);
    }
}

.vertical{
    width: 550px;
    height: 76px;
    position: absolute;
    left: 50%;
    top: 135px;
    margin-left: -275px;
}
.ib_vertical{    animation: Vertical2 1.8s;}
.ib_vertical.l{
    margin-right: 230px;
    animation: Vertical1 1.8s;
}
.ib_vertical i{
    display: inline-block;
    width: 4px;
    height: 76px;
    margin-right: 28px;
}
.ib_vertical i.ss_icon1{background: url("../images/ss1.png") no-repeat center;}
.ib_vertical i.ss_icon2{background: url("../images/ss2.png") no-repeat center;}
.ib_vertical i.hs_icon1{background: url("../images/hs1.png") no-repeat center;}
.ib_vertical i.hs_icon2{background: url("../images/hs2.png") no-repeat center;}
.ib_vertical i.margin{margin-right: 0}

@keyframes Vertical1 {
    0%{
        transform: translateX(-500%);
    }
    60%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(-45deg);
    }
    84%{
        transform: rotate(25deg);
    }
    92%{
        transform: rotate(-25deg);
    }
    98%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }

}
@keyframes Vertical2 {
    0%{
        transform: translateX(500%);
    }
    60%{
        transform: rotate(-45deg);
    }
    75%{
        transform: rotate(45deg);
    }
    84%{
        transform: rotate(-25deg);
    }
    92%{
        transform: rotate(25deg);
    }
    98%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }

}

.ib_rad{
    position: relative;
    width: 550px;
    margin: 0 auto;
    background: #00ceff;
}
.ib_rad div{float: left;position: absolute;animation:Ib_Rad 1s }
.ib_rad div i{
    display: block;
    position: absolute;
}
.ib_rad div.rad_1 i{
    background: url("../images/bs1.png") no-repeat center bottom;
    width: 49px;
    text-align: center;
    height: 9px;
}
.rad_1{
    width: 49px;
    height: 70px;
    top: -80px;
    left: 13px;
}
.rad_2{
    width: 67px;
    height: 93px;
    background: url("../images/bs2.png") no-repeat center bottom;
    top: -50px;
    left: 146px;
}
.rad_3{
    width: 73px;
    height: 99px;
    background: url("../images/bs_3.png") no-repeat center bottom;
    top: -128px;
    left: 307px;
}
.rad_4{
    width: 82px;
    height: 117px;
    background: url("../images/bs_4.png") no-repeat center bottom;
    top: -20px;
    right: 0;
}
@keyframes Ib_Rad {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.ib_bottom{
    margin-top: 140px;
}
.ib_title{
    width: 727px;
    height: 62px;
    background: url("../images/ib_title.png") no-repeat center;
    margin: 0 auto;
    display: block;
}
.ib_bottom p{font-size: 28px;color: #111;text-align: center;margin: 34px auto 67px}
.i_href{
    text-align: center;
    height: 48px;
    line-height: 49px;
}
.i_href a{
    display: inline-block;
    width: 200px;
    height: 48px;
    background: url("../images/i_href.png") no-repeat center;
    margin-left: 40px;
    color: #fff;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
}
.i_href a i{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-right: 15px;
}
.i_href a:first-child{margin-left: 0}
.i_href a.pc_down i{background: url("../images/win.png") no-repeat center}
.i_href a.ios_down i{background: url("../images/iphone.png") no-repeat center;margin-right: 26px}
.i_href a.and_down i{background: url("../images/android.png") no-repeat center}
.ib_text{
    display: block;
    margin: 0 auto;
    width: 56px;
    height: 31px;
    position: absolute;
    bottom: 55px;
    left: 50%;
    margin-left: -28px;
    background: url("../images/b_next.png") no-repeat center;
    animation: Silde 3s infinite;
}
@keyframes Silde {
    0%,
    100%,
    20%,
    50%,
    80% {
        transition-timing-function: cubic-bezier(0.215,.61,.355,1); /*贝塞尔曲线 ： X1 Y1 X2 Y2*/
        transform: translate3d(0,0,0); /*设置只在Z轴上移动*/
    }
    40%,
    43%{
        transition-timing-function: cubic-bezier(0.755,0.50,0.855,0.060);
        transform: translate3d(0,-30px,0);
    }
    70%{
        transition-timing-function: cubic-bezier(0.755,0.050,0.855,0.060);
        transform: translate3d(0,-15px,0);
    }
    90%{
        transform: translate3d(0,-4px,0);
    }
}
.ib_text:hover{
    animation-name:container; /*动画的名称*/
    transform-origin: center bottom; /*设置动画旋转元素的基点为：居中靠下*/
    background: url("../images/b_next_h.png") no-repeat center;
}
#sup{
    height: 509px;
    width: 100%;
    background: #f9fafc;
}
h2.i_title{
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    padding: 60px 0 90px;
}
#sup li{
    width: 396px;
    height: 196px;
    float: left;
    background: url("../images/tbg.png") no-repeat center;
    transition: all .5s;
}
.sup_img{
    width: 130px;
    height: 196px;
    margin-left: 18px;
    transition: all .5s;
}
#sup li.sup_1 .sup_img{  background: url("../images/t1.png") no-repeat center;}
#sup li.sup_2 .sup_img{  background: url("../images/t2.png") no-repeat center;}
#sup li.sup_3 .sup_img{  background: url("../images/t3.png") no-repeat center;}
.sup_con{
    width: 200px;
    height: 146px;
    margin-top: 50px;
    color: #333;
}
.sup_con h4{
    font-size: 18px;
    margin-bottom: 15px;
}
.sup_con p{
    font-size: 14px;
    line-height: 26px;
    color: #414141;
}
#sup li:hover{background: url("../images/tbg_h.png") no-repeat center;}
#sup li.sup_1:hover .sup_img{ background: url("../images/t1_h.png") no-repeat center;}
#sup li.sup_2:hover .sup_img{ background: url("../images/t2_h.png") no-repeat center;}
#sup li.sup_3:hover .sup_img{ background: url("../images/t3_h.png") no-repeat center;}

/*平台更多功能*/
.pt_fun{
    width: 100%;
    height: 935px;
}
.pt_fun ul{
    width: 385px;
    text-align: right;
}
.pt_fun ul.r{text-align: left}
.pt_fun ul li{line-height: 36px;font-size: 16px;margin-top: 90px}
.pt_fun h3{font-weight: 100}
.pt_fun p{color: #999}
.pt_center{
    width: 331px;
    height: 597px;
    margin-left: 65px;
    background: url("../images/pt_center.png") no-repeat center;
}

/*联系售前*/
.i_call{
    height: 355px;
    width: 100%;
    text-align: center;
    color: #333;
}
.i_call .i_title{
    padding:80px 0 30px ;
}
.i_call p{font-size: 20px}
.ic_href{margin-top:39px;}
.i_call a{
    display: inline-block;
    width: 135px;
    height: 32px;
    line-height: 32px;
    background: url("../images/dz.png") no-repeat center left;
    text-indent: 8px;
    font-weight: bold;
    font-size: 18px;
    margin:0 20px;
}
.i_call a:first-child{
    background: url("../images/zx.png") no-repeat center left;
}

/*现在加入*/
.join{
    width: 100%;
    background: url("../images/join.jpg") repeat-x center;
    height: 110px;
    padding-top: 70px;
}
.join h3{
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 180px;
    font-size: 36px;
    font-weight: 100;
    color: #fff;
}
.join a{
    width: 136px;
    height: 42px;
    border: 1px solid #fff;
    color: #fff;
    float: right;
    line-height: 42px;
    text-align: center;
}

/*新闻页面*/
.i_news{
    width: 100%;
    height: 477px;
}
.i_news dl{
    width: 400px;
}
.i_news dl:first-child{margin-left: 90px}
.i_news dt{
    border-left: 4px solid #00ceff;
    padding-left: 8px;
    margin-bottom: 20px;
}
.i_news dd{
    line-height: 34px;
    font-size: 16px;
}
.i_news dd a{color: #666;transition: all .5s}
.i_news span.text{width: 75%}
.i_news dd a:hover{color: #00ceff}

/*地图*/
.i_node{
    width: 100%;
    height: 630px;
    background: url("../images/i_node.jpg") no-repeat center;
    color: #fff;
}
.i_node .w1200{position: relative}
.in_text{
    margin-left: 60px;
    padding-top: 90px;
    line-height: 105px;
    font-size: 30px;
}
.map{
    width: 747px;
    height: 617px;
    margin:5px 90px 0 0;
    background: url("../images/map.png") no-repeat center;
}

@-webkit-keyframes warn{
    0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}
    100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}}
@-moz-keyframes warn{
    0%{-moz-transform:scale(0);transform:scale(0);opacity:1}
    100%{-moz-transform:scale(1);transform:scale(1);opacity:0}
}
@-o-keyframes warn{
    0%{-o-transform:scale(0);transform:scale(0);opacity:1}
    100%{-o-transform:scale(1);transform:scale(1);opacity:0}
}
@keyframes warn{
    0%{-webkit-transform:scale(0);
        -moz-transform:scale(0);-o-transform:scale(0);transform:scale(0);opacity:1}
    100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);
        transform:scale(1);opacity:0}
}

.map_list {
    position: relative;
    width: 40px;
    height: 40px;
}
/* 保持大小不变的小圆圈  */
.dot{
    position: absolute;
    width: 6px;
    height: 6px;
    left: 15px;
    top: 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    z-index: 2;
    border: 2px solid #00ceff;
}
.map_ok .dot,.map_ok .pulse,.map_ok .pulse2{border-color:#00ceff;}
.map_err .dot,.map_err .pulse,.map_err .pulse2{border-color:#ccc}
.map_err .pulse,.map_err .pulse2{    box-shadow: 0 0 12px #ccc, 0 0 20px #ccc inset;}
.map_now .dot,.map_now .pulse,.map_now .pulse2{border-color:#FF6347}
.map_now .pulse,.map_now .pulse2{    box-shadow: 0 0 12px #FF6347, 0 0 20px #FF6347 inset;}
/* 产生动画（向外扩散变大）的圆圈  */
.pulse {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -2px;
    top: -2px;
    border: 2px solid #00ceff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 2s both;
    -moz-animation: warn 2s both;
    animation: warn 2s both;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    box-shadow: 0 0 12px #0080d9, 0 0 20px #0080d9 inset;
}
.pulse2{
    position: absolute;
    width: 60px;
    height: 60px;
    left: -12px;
    top: -11px;
    border: 2px solid #00ceff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 2s;
    -moz-animation: warn 2s;
    animation: warn 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
    box-shadow: 0 0 12px #0080d9, 0 0 20px #0080d9 inset;
}
.map_text{
    position: absolute;
    left: 40px;
    top: 5px;
    font-size: 12px;
}
.map1{left: 538px;top: 215px;}
.map2{top: 458px;left: 522px;}
.map3{left: 432px;top: 133px;}
.map4{top: -44px;left: 662px;}
.map5{ top: -18px;left: 660px;}
.map6{ top: -21px;left: 631px;}
.map7{left: 350px;top: 140px;}
.map8{left: 478px;top: 158px;}
.map9{left: 610px;top: 76px;}
.map10{left: 564px;top: 0}
.map11{top: -71px;left: 490px;}
.map_node{
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    left: 280px;
    top: 540px;
}
.map_node div{
    float: left;
    margin-right: 20px;
}
.map_node i{
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #00ceff;
    display: inline-block;
    margin-right: 10px;
}
.map_node .mn_2 i{border-color: #ccc}
.map_node .mn_3 i{border-color: #FF6347}

.anim-start {
    -webkit-transform: translateY(100px) translateX(0);
    -moz-transform: translateY(100px) translateX(0);
    transform: translateY(100px) translateX(0);
    opacity: 0;
}
.anim-start1 {
    -webkit-transform: translateY(-100px) translateX(0);
    -moz-transform: translateY(-100px) translateX(0);
    transform: translateY(-100px) translateX(0);
    opacity: 0;
}
.anim-end {
    -webkit-transform: translateY(0) translateX(0);
    -moz-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
}
.anim-go {
    -webkit-transition: transform 1.8s, opacity 1.8s;
    -moz-transition: transform 1.8s, opacity 1.8s;
    -o-transition: transform 1.8s, opacity 1.8s;
    transition: transform 1.8s, opacity 1.8s;
}

@keyframes EWM{
    0%{
        transform: translateY(-1200%);
    }
    50%{
        transform: translateY(350%);
    }
    75%{
        transform: translateY(-350%);
    }
    80%{
        transform: translateY(50%);
    }
    85%{
        transform: translateY(-50%);
    }
    90%{
        transform: translateY(25%);
    }
    95%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(0%);
    }
}


.banner{
    height: 330px;
    margin-top: -60px;
}
.help_banner{
    background: url('../images/help_bg.jpg') no-repeat center;
    /*background: #262f3c;*/
}
#particles-js{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 80px;
    width: 100%;
    height: 330px;
}
.hb_content{
    padding-top:200px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 2;
}
.hb_content h3{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.help_guide{
    height: 140px;
    width: 100%;
    padding: 65px 0;
    box-sizing: content-box;
}
.help_guide a{
    margin-left: 41px;
    display: inline-block;
    width: 340px;
    height: 140px;
    text-align: center;
    color: #333;
    *display:inline;
    *zoom:1;
    transition: all .5s;
}
.help_guide a:hover,.help_guide a.active{
    background: #f6f9fb;
    box-shadow: 0 0 10px #e0e0e0;
}
.help_guide a i{
    display: block;
    width: 100%;
    height: 92px;
}
.hg_use i{background: url("../images/guide1.png") no-repeat center;}
.hg_question i{background: url("../images/guide2.png") no-repeat center;}
.hg_news i{background: url("../images/guide3.png") no-repeat center;}
.help_content{
    width: 100%;
    height: 965px;
    background: #f6f9fb;
}
.breadcrumb{
    padding: 20px 0px 10px 0px;
    margin-bottom: 10px;
    color: #131618;
    font-size: 14px;
}
.breadcrumb a{color: #333;transition: all .5s;}
.breadcrumb a:hover{color: #00c2ff}
.help_nav{
    margin-bottom: 15px;
    width: 216px;
    text-indent: 20px;
    min-height: 807px;
    background: #fff;
    box-shadow: 2px 0 5px #eee;
    float: left;
}
.help_nav h3{
    font-size: 24px;
    font-weight: lighter;
    padding: 16px 4px;
}
.help_nav a{
    color: #333;
    line-height: 36px;
    transition: all .5s;
    height: 36px;
    display: block;
    text-indent: 5px;
    width: 100%;
}
.help_nav>ul>li>a:hover{
    color: #00c2ff;
}
.help_nav li.avtive>a{
    color: #00c2ff;
}
.help_nav>ul>li:hover>a i{
    background: url("../images/reduce_h.png") no-repeat center;
}
.help_nav>ul>li.avtive>a i{
    background: url("../images/reduce_h.png") no-repeat center;
}

.help_nav i{
    float: left;
    margin:10px 0 0 10px;
    display:block;
    width: 16px;
    height: 16px;
    background: url("../images/add.png") no-repeat center;
}
.help_nav2{display: none}
.help_nav2 li{
    height: 36px;
    line-height: 36px;
}
.help_nav2 li.active{
    background: #00ceff;
    color: #fff;
}
.help_nav2 li.active a{color: #fff;text-indent: 20px}
.help_nav2 li.active:hover a{color: #fff;}
.help_nav2 li:hover a{
    color: #00ceff;
    text-indent: 20px;
}
.help_nav2 li{
    padding: 0 10px;
}
.help_list{
    width: 937px;
    height: 807px;
    padding: 0 15px;
    float: right;
    background: #fff;
    box-shadow: 2px 0 5px #eee;
    box-sizing: content-box;
}
.help_list>div{
    width: 100%;
    height: 807px;
    display: none;
}
.help_list h4{
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    padding: 24px 0 20px;
    margin-bottom: 10px;
}
.help_call{
    height: 485px;
    width: 100%;
}
.hc_title{
    padding-top: 70px;
    text-align: center;
    color: #333;
    font-size: 18px;
}
.hc_title h2{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 23px;
}
.hc_list{
    margin-top: 110px;
    height: 145px;
    width: 100%;
    overflow: hidden;
}
.hc_list li{
    float: left;
    width:399px;
    height: 145px;
    text-align: center;
    border-left: 1px solid #d1d1d1;
}
.hc_list:first-child{
    width: 400px;
    border: none;
}
.hc_list i{
    display: block;
    width: 100%;
    height: 106px;
}
.hc_list a{
    color: #333;
    display: block;
    transition: all .5s;
}
.hc_list a>div{
    height: 145px;
}
.qq{background: url("../images/qq.png") no-repeat center;}
.wechat{background: url("../images/wechat.png") no-repeat center;}
.sina{background: url("../images/sina.png") no-repeat center;}
.hc_list a:hover{
    margin-top: -145px;
}
.tc_banner{
    background: url("../images/banner_price.jpg") no-repeat center;
    background-size: cover;
    height: 400px;
    color: white;
    font-size: 24px;
    text-align: center;
}
.tc_banner .w1200{
}
.tc_banner h3{
    font-size: 42px;
    font-weight: 400;
    padding-top: 220px;
    margin-bottom: 30px;
}
.tc_content{
    position: relative;
    top: 0;
    animation: Tc_top 1.8s;
}
@keyframes Tc_top {
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
.tc_money{
    height: 805px;
    width: 100%;
    background: #f9fafc;
}
.tc_pri{
    width: 100%;
    height: 350px;
}
.tc_money{
    text-align: center;
}
.tc_money h3:first-child{padding-top: 55px;margin-bottom: 19px}
.tc_money h3{font-size: 24px;color: #333;font-weight: 100}
.tcm_list{
    position: relative;
    top: 91px;
}
.tcm_list>div{
    position: relative;
    float: left;
    width: 238px;
    height: 462px;
    padding: 30px;
    transition: all .3s;
    background: url("../images/tcm.png") no-repeat center;
}
.tcm_list>div.tcm_3{
    position: relative;
    height: 492px;
    margin-top: -30px;
    background: url("../images/tcm2.png") no-repeat center;
}
.tcm_list>div.tcm_3 i{
    position: absolute;
    top: 16px;
    right: 37px;
    display: block;
    width: 50px;
    height: 62px;
    background: url("../images/tc_tj.png") no-repeat center;
}
.tcm_list>div h6{
    margin: 36px auto 33px;
    font-size: 35px;
    font-weight: 100;
    color: #333;
}
.tcm_list>div h6 span{font-size: 18px}
.tcm_list>div.tcm_3 h6{
    margin-top: 66px;
}
.tcm_list .icon_tc{
    width: 134px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin: 0 auto;
}
.tcm_1 .icon_tc{background: url("../images/tc_b1.png") no-repeat center}
.tcm_2 .icon_tc{background: url("../images/tc_b2.png") no-repeat center}
.tcm_3 .icon_tc{background: url("../images/tc_b3.png") no-repeat center}
.tcm_4 .icon_tc{background: url("../images/tc_b4.png") no-repeat center}
.tcm_con{
    margin-top: 30px;
    line-height: 48px;
}
.tcm_con p{
    border-bottom: 1px dashed #e5e5e5;
}
.tcm_list>div a{
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin: 39px auto 0;
    border-radius: 3px;
    color: #fff;
}
.tcm_list>div.tcm_1 a{background: #21d376}
.tcm_list>div.tcm_2 a{background: #27bbfa}
.tcm_list>div.tcm_3 a{background: #ff6651}
.tcm_list>div.tcm_4 a{background: #ffa405}
.tcm_list>div:hover{
    background: url("../images/tcm_bg.png") no-repeat center;
    z-index: 111;
}
.tcm_list>div.tcm_3:hover{background: url("../images/tcm_bg2.png") no-repeat center;  }
.tc_pri h3{
    text-align: center;
    margin:75px 0 90px;
    font-size: 24px;
    color: #333;
    font-weight: 100;
}
.tc_pri li{
    float: left;
    width: 24.5%;
    height: 56px;
}
.tc_pri i{
    float: left;
    display: block;
    width: 58px;
    height: 36px;
}
.tc_pri .tcp_1 i{background: url("../images/tc_1.png") no-repeat center}
.tc_pri .tcp_2 i{background: url("../images/tc_2.png") no-repeat center}
.tc_pri .tcp_3 i{background: url("../images/tc_3.png") no-repeat center}
.tc_pri .tcp_4 i{background: url("../images/tc_4.png") no-repeat center}
.tc_pri li h6{font-size: 18px;font-weight: 100;margin:5px 0 10px}
.tc_pri li p{font-size: 14px;color: #999}
/*注册*/
.reg_content{background: gray;padding: 160px 0 50px;}
.step_1 {
    width: 1100px;
    background: white;
    margin: 0 auto;
}
#reg{
    width: 960px;
    height: 613px;
    background: #fff;
    margin: 0 auto 100px;
}
#reg h2{
    line-height: 60px;
    margin: 0 16px;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    color: #535353;
}
.reg_con{
    width: 565px;
    margin: 39px auto 0;
}
.reg_buff li{
    width: 33.3%;
    float: left;
    text-align: center;
    color: #d9dadc;
}
.reg_buff li div{
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-bottom: 7px;
}
.reg_buff li div span{position: relative;z-index: 5;color: #d9dadc}
.reg_bor{
    display: block;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 0;
    border-bottom: 2px solid #d9dadc;
    z-index: 1;
}
.reg_bor.rg_h{border-color: #00ceff}
.reg_icon1{
    display: block;
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    background: url("../images/icon_ok.png") no-repeat center;
    z-index: 2;
}
.reg_icon2{
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-14px 0 0 -14px;
    background: url("../images/icon.png") no-repeat center;
    z-index: 3;
}
.ri_h{
    background: url("../images/icon_ok2.png") no-repeat center;
}
.reg_buff{width: 100%;height:73px;margin-bottom: 50px}
.reg_buff li div span.rb_text{color: #fff;}
.reg_buff li.ok p{color: #00ceff}

.reg_user {
    display: block;
    width: 55px;
    height: 55px;
    margin:0px auto;
    background: url("../images/user2.png") no-repeat center;
    z-index: 2;
}
.reg_phone {
    display: block;
    width: 55px;
    height: 55px;
    margin:0px auto;
    background: url("../images/phone.png") no-repeat center;
    z-index: 2;
}
.reg_success {
    display: block;
    width: 55px;
    height: 55px;
    margin:0px auto;
    background: url("../images/success.png") no-repeat center;
    z-index: 2;
}


#reg_form input{
    width: 319px;
    height: 40px;
    border: 1px solid #d8d8d8;
    line-height: 40px;
    text-indent: 10px;
    vertical-align: bottom;
    /*margin-left: 80px;*/
}
#reg_form label{
    line-height: 42px;
    width: 95px;
    height: 42px;
    text-align: right;
    display: block;
    float: left;
    font-size: 16px;
    color: #666;
    margin-right: 25px;
}
#reg_form p{
    color: red;
    padding-left: 119px;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    display: none
}
#reg_form>div{
    margin-bottom: 26px;
    height:auto;
    width: 100%;
}
#reg_form>div div input{
    width: 205px;
    margin-right: 10px;
}
.reg_btn button{
    width: 321px;
    height:42px;
    background: url("../images/reg_btn.png");
    background-size: 100%;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-left: 120px;
}
.reg_line {
    width:78px;
    height:1px;
    background-color: #dcdcdc;
    margin:0px auto;
    padding:0px;
    overflow:hidden;
    position:absolute;
    margin-top: 65px;
    margin-left: 150px;
}
.reg_line_2 {
    width:78px;
    height:1px;
    background-color: #dcdcdc;
    margin:0px auto;
    padding:0px;
    overflow:hidden;
    position:absolute;
    margin-top: 65px;
    margin-left: 340px;
}
.reg_href{
    font-size: 14px;
    text-align: right;
    color: #bcbdc1;
    width: 321px;
    margin: 16px auto 0;
}
.reg_href a{
    color: #11d1ff;
}
.reg_bottom{
    text-align: center;
    font-size: 14px;
    color: #bcbdc1;
}
.reg_bottom a{
    margin-right: 10px;
    color: #bcbdc1;
}
.reg_bottom a:first-child{color: #21d4ff}

#tel_yzm{
    line-height: 44px;
    height: 44px;
    border-radius: 2px;
    display: inline-block;
    border: none;
    width: 130px;
    color: #fff;
    background: #21d4ff;
    cursor: pointer;
}

.icon_ok{
    background: url("../images/icon/success.png") no-repeat center;
    width: 128px;
    height: 128px;
    float: left;
    margin-left: 80px;
}

.icon_fail{
    background: url("../images/icon/wrong.png") no-repeat center;
    width: 128px;
    height: 128px;
    float: left;
    margin-left: 80px;
}
.icon_warn{
    background: url("../images/icon/warning.png") no-repeat center;
    width: 128px;
    height: 128px;
    float: left;
    margin-left: 80px;
}

.reg_ok p{
    float: left;
    margin: 24px 0;
    line-height: 40px;
    font-size: 14px;
}
.reg_ok p b{
    display: block;
    font-size: 30px;
    color: #333;
}
.reg_ok p a{
    color: #FFC500;
    margin-left: 10px;
    font-weight: bolder;
}
.icon_warn{
    width: 32px;
    height: 32px;
    background: url("../images/warn.png") no-repeat center;
    float: left;
}
.reg_ok p.reg_warn{
    height: 32px;
    display: block;
    float: none;
    line-height: 32px;
    margin-left: 80px;
}
.reg_ok p.reg_warn span {
    float: left;
    margin-left: 20px;
}
.reg_ok p.reg_warn a{
    margin-left: 0px;
}
    /*会员中心*/
.vip_content{
    margin-top: 120px;
    /*height: 520px;*/
    padding-bottom: 22px;
}
.vip_content .w1200{
    /*width: 1055px;*/
    border-top: 1px solid #eee;
}
.vip_left{width: 260px;}
.vip_left li{
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #fff;
    position: relative;
    left: 1px;
}
.vip_left li i{
    display:block;
    float: left;
    height: 32px;
    width: 30px;
    margin: 20px 30px 0 50px;
    background: url("../images/icon.png") no-repeat;
}
.vip_left li:nth-child(1) i{ background: url("../images/my.png") no-repeat; }
.vip_left li:nth-child(2) i{ background: url("../images/manage.png") no-repeat;   }
.vip_left li:nth-child(3) i{ background: url("../images/recharge.png") no-repeat;   }
.vip_left li:nth-child(4) i{ background: url("../images/list.png") no-repeat;   }
.vip_left li:nth-child(5) i{ background: url("../images/pay-card.png") no-repeat;   }
.vip_left li:nth-child(6) i{ background: url("../images/pay-card-list.png") no-repeat;   }
.vip_left li:nth-child(7) i{ background: url("../images/coupon.png") no-repeat;   }
.vip_left li:nth-child(8) i{ background: url("../images/sdk.png") no-repeat;   }
.vip_left li:nth-child(9) i{ background: url("../images/history.png") no-repeat;   }
.vip_left li:nth-child(10) i{ background: url("../images/extract.png") no-repeat;   }
.vip_left li:nth-child(11) i{ background: url("../images/sdk.png") no-repeat;   }

.vip_left li:nth-child(1):hover i{ background: url("../images/my_active.png") no-repeat; }
.vip_left li:nth-child(2):hover i{ background: url("../images/manage_active.png") no-repeat;   }
.vip_left li:nth-child(3):hover i{ background: url("../images/recharge_active.png") no-repeat;   }
.vip_left li:nth-child(4):hover i{ background: url("../images/list_active.png") no-repeat;   }
.vip_left li:nth-child(5):hover i{ background: url("../images/pay-card_active.png") no-repeat;   }
.vip_left li:nth-child(6):hover i{ background: url("../images/pay-card-list_active.png") no-repeat;   }
.vip_left li:nth-child(7):hover i{ background: url("../images/coupon_active.png") no-repeat;   }
.vip_left li:nth-child(8):hover i{ background: url("../images/sdk_active.png") no-repeat;   }
.vip_left li:nth-child(9):hover i{ background: url("../images/history_active.png") no-repeat;   }
.vip_left li:nth-child(10):hover i{ background: url("../images/extract_active.png") no-repeat;   }
.vip_left li:nth-child(11):hover i{ background: url("../images/sdk_active.png") no-repeat;   }

.vip_left li:nth-child(1).active i{ background: url("../images/my_active.png") no-repeat; }
.vip_left li:nth-child(2).active i{ background: url("../images/manage_active.png") no-repeat;   }
.vip_left li:nth-child(3).active i{ background: url("../images/recharge_active.png") no-repeat;   }
.vip_left li:nth-child(4).active i{ background: url("../images/list_active.png") no-repeat;   }
.vip_left li:nth-child(5).active i{ background: url("../images/pay-card_active.png") no-repeat;   }
.vip_left li:nth-child(6).active i{ background: url("../images/pay-card-list_active.png") no-repeat;   }
.vip_left li:nth-child(7).active i{ background: url("../images/coupon_active.png") no-repeat;   }
.vip_left li:nth-child(8).active i{ background: url("../images/sdk_active.png") no-repeat;   }
.vip_left li:nth-child(9).active i{ background: url("../images/history_active.png") no-repeat;   }
.vip_left li:nth-child(10).active i{ background: url("../images/extract_active.png") no-repeat;   }
.vip_left li:nth-child(11).active i{ background: url("../images/sdk_active.png") no-repeat;   }

.vip_left li a{
    display: block;
    width: 100%;
    height: 100%;
}
.vip_left li.vip_my i{background-position:-178px -110px;}
.vip_left li.vip_my.active i,.vip_left li.vip_my:hover i{background-position:-221px -110px;}
.vip_left li.vip_cz i{background-position:-178px -77px;}
.vip_left li.vip_cz:hover i{background-position:-220px -77px;}
.vip_left li.vip_ser i{background-position:-178px -43px;}
.vip_left li.vip_ser:hover i{background-position:-220px -43px;}
.vip_left li.active a,.vip_left li:hover a{color: #00ceff;border-left: 3px solid #00ceff;background:#fff}

.vip_list>div{
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    display: none;
}
.vip_content .w1200>div.vip_list {
    width: 930px;
}
.vip_list>div.active{display: block}
.vm_con{
    height: 670px;
}
.vm_con>h3,.vc_con>h3,.vs_con>h3{
    padding: 23px  0 0 50px;
    font-size: 24px;
    font-weight: 100;
    color: #535353;
}
.vm_con>p{
    padding: 55px 0 0 50px;
    font-size: 16px;
}
.vm_con>p span{color: #00ceff;letter-spacing: 2px}
.vm_con>div{
    width: 645px;
    height: 111px;
    border: 1px solid #eee;
    margin: 28px auto 0;
}
.vip_time i{
    float: left;
    margin: 16px 30px 0 20px;
    width: 78px;
    height: 78px;
    background: url("../images/icon.png") no-repeat;
    background-position: -4px -8px;
}
.vip_time div{
    margin-top: 24px;
    font-size: 14px;
    color: #535353;
    float: left;
}
.vip_time div p{font-weight: bold;margin-bottom: 20px}
.vip_time div span{
    color: #ff714b;
}
.vip_time a{
    display: block;
    color: #fff;
    width: 78px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    background: url("../images/bor.png") no-repeat center;
}
.vc_con{
    /*height: 790px;*/
}
.vc_con table{
    width: 860px;
    text-align: center;
    color: #535353;
    margin:20px 20px 0;
}
.vc_con thead{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.vc_con  th{   font-weight: 100;}
.vc_tbody tr{
    border-bottom: 1px solid #eee;
    height: 50px;
}
.vc_tbody tr td{
    line-height: 50px;
}
.vc_tbody tr td.vc_time{
    width: 100px;
    line-height: 1.5;
    vertical-align: middle;
}
.vc_money{
    color: #ff896d;
}
.vc_tbody .ok{color: #27b28b}
.vs_con{
    padding-bottom: 60px;
    height: 600px;
}
.vs_con>div{
    width: 748px;
    text-align: center;
    color: #535353;
    margin:20px 20px 0;
    border-top: 1px solid #eee;
    padding-top: 60px;
}
.vs_con>div div{
    width: 48%;
    text-align: center;
}
.vs_con i{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 36px;
    background: url("../images/user_icon.png") no-repeat;
}
.vs_con a{
    display: block;
    width: 72px;
    height: 26px;
    border: 1px solid #e9e9e9;
    margin: 0 auto;
    line-height: 26px;
    font-size: 14px;
    color: #535353;
    transition: all .3s;
}
.vs_con a:hover{
    background: #00ceff;
    color: #fff;
}
.vs_con i.vs_pass{
    background-position:-91px -7px;
}
.vs_con i.vs_phone{
    background-position:-2px -93px;
}
.vs_con i.vs_phone.active{
    background-position:-91px -93px;
}

/*登录页面*/
.login_err{
    height: 30px;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 0;
    line-height: 30px;
    margin: 0 auto 5px;
    width: 370px;
    text-indent: 15px;
    display: none;
}
#login_form div{
    height: 50px;
    width: 370px;
    margin:0 auto 10px;
    position: relative;
}

#login_form div label{
    line-height: 40px;
    margin: 5px 0;
    height: 40px;
    width: 40px;
    background: #d8d8d8;
    display: block;
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 1px;
}
#login_form div label i{
    background: url("../images/pass.png") no-repeat center;
    display: block;
    width: 100%;
    height: 100%;
}
#login_form div:first-child label i{
    background: url("../images/user.png") no-repeat center;
}
.login_input{
    text-indent: 50px;
    width: 100%;
    line-height: 38px;
    height:38px;
    margin: 5px 0;
    border:1px solid #ccc;
}
#login_form div a{
    margin-right: 5px;
    color: #00ceff;
}
#login_form div a:hover{color: #00ceff}
#login_sub{
    width: 370px;
    height: 50px;
    line-height: 50px;
    background: #00ceff;
    border: none;
    cursor: pointer;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    display: block;
    margin:  0 auto;
    transition: all .3s;
}
#login_sub:hover{
    background: #21d4ff;
}
.login_check{
    line-height: 50px;
    font-size: 14px;
}
#login_form div.login_check label{
    float: none;
    display: inline-block;
    font-size: 14px;
    background: none;
    width: 100px;
    position: relative;
}
.login_check input[type=checkbox]{margin-left: 2px}
.login-href{
    text-align: center;
}

.new-content{
    min-height: 800px;
    background: #f3f3f3;
    position: relative;
    padding-top: 70px;
}
.new-content .w1200{
    position: relative;
}
.new-l {
    width: 281px;
    height: auto;
    background-color: #444444;
    margin-top: 70px;
    padding-bottom: 40px;
    position: absolute;
    left: 0;
    top:0;
}
.new-l ul{
    padding-top: 40px;
}
.new-l ul li a{
    display: block;
    width: 225px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    padding-left: 55px;
    line-height: 50px;
}
.new-l ul li i {
    background: url("../images/list-icon.png") no-repeat;
    width: 10px;
    height: 19px;
    display: inline-block;
    position: absolute;
    margin-left: 180px;
    margin-top: 16px;
}
.new-l ul li.current a,.new-l ul li:hover a {
    background-color: #999;
}
.new-r{
    margin-left: 300px;
    height: 700px;
    background: #fff;
    padding: 50px 40px 20px;
}
.new-r h3 {
    font-size: 30px;
    color: #333;
    font-weight: normal;
    padding-bottom: 30px;
}
.new-r ol {
    height: 533px;
    padding-bottom: 40px;
}
.new-r ol li a{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #CAC9C9;
    display: block;
    color: #2f2f2f;
    transition: all .5s;
}
.new-r ul {
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
}
.new-r ul li a,.new-r ul li{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 5px;
    transition: all .5s;
    color: #2f2f2f;
    border: 1px solid #CAC9C9;
}
.new-r ul li{margin:5px;border: none}
.new-r ul li.top-page a,.new-r ul li.top-page{
    width: 55px;
}
.new-r ul li:hover a{
    background: #CAC9C9;
    color: #fff;
}
.new-r .list {
    border-top: 1px dashed #CAC9C9;
    padding-top: 30px;
    font-size: 14px;
}

.download-banner{
    padding-top: 70px;
    overflow: hidden;
    background: #0096da;
    background: linear-gradient(top,#0096da,#5bccff);
    background: -webkit-linear-gradient(top,#0096da,#5bccff);
    background: -moz-linear-gradient(top,#0096da,#5bccff);
    background: -o-linear-gradient(top,#0096da,#5bccff);
    width: 100%;
    height: 284px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: relative;
}
#waves{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
}
.download-banner div{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
}
.download-banner h2{
    padding-top: 79px;
    line-height: 80px;
    font-weight: 100;
    font-size: 34px;
}
.down-exe{
    background: #f9fafc;
    width: 100%;
    height:565px;
    padding-top: 108px;
}
.down-exe li{
    width: 280px;
    height: 340px;
    background: #fff;
    float: left;
    margin-left: 95px;
    position: relative;
    text-align: center;
    color: #333;
    font-size: 14px;
    transition: box-shadow .2s linear,-webkit-transform .2s linear,-moz-transform .2s linear,-o-transform .2s linear,transform .2s linear;
}
.down-img{
    width: 100%;
    height: 145px;
}
.down-window{background: url("../images/windows.png") no-repeat center}
.down-apple{background: url("../images/apple.png") no-repeat center}
.down-android{background: url("../images/android2.png") no-repeat center}
.down-app{
    position: absolute;
    top: 0;
    right: 20px;
    background: url("../images/download-icon.png") no-repeat center;
    width: 41px;
    height: 36px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
}
.down-name{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}
.down-exe li p{
    line-height: 26px;
}
.down-exe li a{
    display: block;
    margin: 15px auto 0;
    font-size: 16px;
    width: 136px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    background: url("../images/down-href.png") no-repeat center;
}
.down-exe li:hover{
    box-shadow:0 15px 30px rgba(0,0,0,.1);
    -webkit-transform:translate3d(0,-2px,0);
    -moz-transform:translate3d(0,-2px,0);
    -o-transform:translate3d(0,-2px,0);
    -ms-transform:translate3d(0,-2px,0);
    transform:translate3d(0,-2px,0)
}
.down-exe li:hover #andr_ewm,.down-exe li:hover #ios_ewm{
    top: 0;
}
#phone-bd div{
    width: 445px;
}
#phone-bd div div.phone-bd-div{
    width: inherit;
}
#phone-bd div div.phone-bd-div input{float: left}
#phone-bd div div.phone-bd-div button#tel_yzm{width: 100px}

#ios_ewm,#andr_ewm{
    position: absolute;
    top: 120px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    transition: all .5s;
}
#ios_ewm img,#andr_ewm img{width: 120px;height: 120px;}
.ewm_bg{
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
}

/*显示用户*/
.hl_admin {
    float: right;
    line-height: 70px;
}

.hl_admin .icon_user {
    line-height: 86px;
    width: 26px;
    height: 30px;
    margin: 0 2px 0 0;

}

.hl_admin .admin_user {
    display: inline-block;
    margin-right: 15px;
}

.hl_admin ul {
    /*position: absolute;*/
    /*top: 59px;*/
    /*left: 35px;*/
    margin: -16px 0 0 32px;
    background: rgba(34,34,34,0.75);
    width: 125px;
    padding-top: 10px;
    display: none;
}

.hl_admin li a {
    display: block;
    line-height: 40px;
    background-color: rgba(34,34,34,0.75);
    color: #fff;
    min-width: 50px;
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.hl_admin li a:hover {
    background: #999
}

.icon_user {
    border-radius: 50%;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.recharge-desc {
    padding: 26px 0 0 18px !important;
    text-align: left;
    line-height: 180%;
}

.recharge-desc p {
    display: block;
    text-align: left;
}

.recharge-desc a {
    display: inline-block;
    width: auto;
    height: auto;
    border: none;
    line-height: inherit;
    font-size: inherit;
    color: #04a9fe;

}

.recharge-desc a:hover {
    color: #04a9fe;
    background: transparent;
}