.h_20 {
    height: 20px;
    width: 100%;
}
.get_banner {
    background: url("../images/banner_bg.jpg");
    background-size: cover;
    height: 360px;
    color: white;
    font-size: 24px;
    text-align: center;
}
.get_banner h3{
    font-size: 42px;
    font-weight: 400;
    padding-top: 173px;
    margin-bottom: 30px;
}
.get_content {
    position: relative;
    top: 0;
    animation: Tc_top 1.8s;
}
.get_sub {
    margin: -86px auto 33px auto;
    width: 1200px;
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey
}
.get_title {
    height: 60px;
    margin-left: 30px;
    font-size: 22px;
}
.get_title p {
    line-height: 22px;
    height: 22px;
    border-left-style: solid;
    border-width: 3px;
    border-color: #00CCFF;
    padding-left: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.get_title span {
    font-size: 14px;
}

.get_line {
    background-color: #eeeeef;
    width: 1140px;
    height:1px;
    margin:0px 30px;
    padding:0px;
    overflow:hidden;
}
.layui-form-item {
    padding-top: 15px;
    padding-bottom: 15px;
}
.get_form label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding-left: 113px;
    padding-right: 40px;
}
.layui-form-select {
    width: 480px;
}
.get_form_fir {
    margin-top: 50px;
}
.layui-form-radio {
    width: 150px;
}
.w_150 {
    float: left;
    width: 150px;
    height: 30px;
}

.get_form_sel .layui-form-select {
    width: 180px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #15bdf9 !important;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #15bdf9 !important;
    background-color: #15bdf9 !important;
}
.layui-form-item button {
    width: 242px;
    height: 58px;
    background-color: #15bdf9;
    color: white;
    font-size: 18px;
}
.layui-form {
    margin-bottom: 50px;
}
.get_center {
    margin-top: 20px;
    text-align: center;
}
.get_linker {
    margin-top: 20px;
    margin-left: 56px;
    margin-bottom: 30px;
}
.get_linker input {
    float: left;
    width: 700px;
    height: 50px;
}
.get_linker .layui-btn {
    float: left;
    font-size: 14px;
    line-height: 50px;
    width: 125px;
    height: 50px;
    margin-left: 5px !important;
}
.get_btton_primary {
    border-color: #15bdf9 !important;
    color: #15bdf9 !important;
}
.get_btton_normal {
    background-color: #15bdf9 !important;
}
.get_api_res {
    width: 1090px;
    overflow: hidden;
    border-style:none dashed dashed dashed;
    border-color: #dcdcdc;
    border-width: 1.5px;
    font-size: 14px;
}

.get_api_res table {
    width: 1030px;
    margin: 0 28px 20px 28px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.get_api_res tr {
    height: 40px;
}
.get_api_res th,td {
    text-align: left;
    line-height: 40px;
    padding-left: 20px !important;
}
.get_api_res thead th:nth-child(1),
.get_api_res thead th:nth-child(2),

.get_api_res tbody tr td:nth-child(1),
.get_api_res tbody tr td:nth-child(2) {
    width: 15%;
}
.get_api_res thead th:nth-child(3),
.get_api_res tbody tr td:nth-child(3) {
    width: 10%;
}

.get_api_res thead th:nth-child(4),
.get_api_res tbody tr td:nth-child(4) {
    width: 60%;
}
.get_api_res tbody tr:nth-child(odd) {
    background-color: #f1fbff;
}
.get_api_res a {
    color: #00bcff;
}


.get_api_res p {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 28px;
}
/*.get_api_res a {*/
    /*background-color: #f1fbff;*/
    /*margin-right: 8px;*/
/*}*/
/*.get_api_res span {*/
    /*margin-right: 50px;*/
/*}*/
.get_res {
    margin: 20px auto;
    width: 1090px;
}
.get_res_demo {
    border: 1px solid #d7d8d9;
    width: 100%;
}
.get_res_demo p {
    margin: 0 auto;
    padding-top: 15px;
    width: 1005px;
    height: 45px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
}
.code {
    background-color: #f2f4f6;
    margin: 0 28px;
    border-radius: 4px;
    color: #24292e;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
.code text {
    display: block;
    padding: 16px;
}
.code span {
    display: block;
    height: 20px;
    text-align: left;
}
.code .code_1 {
    margin-left: 25px;
}
.code .code_2 {
    margin-left: 50px;
}
.code .code_3 {
    margin-left: 75px;
}


.get_res_back {
    height: 120px;
}
.get_use_code {
    margin: 20px auto;
    border: 1px solid #d7d8d9;
    width: 1090px;
}
.get_use_con {
    margin-top: 10px;
    margin-bottom: 10px;
}
.get_use_code p {
    margin-left: 31px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: 0px;
    color: #333333;
}
.get_use_code a {
    color: #00bcff;
}
.get_use_code span {
    background-color: #f2f4f6;
    color: #032f62;
    margin: auto 5px;
    padding: 3px 5px;
    border-radius: 2px;
}
.count {
    box-sizing: border-box;
    width: 136px;
    height: 41px;
    border: 1px solid #C8CED8;
    position: absolute;
    top: -8px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.count i {
    cursor: pointer;
    display: inline-block;
    width: 39px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    font-size: 20px;
    font-style: normal;
    background: #FCFCFC;
    color: #0097FF; 
}
.leftsavecookie {
    float: left;
    border-right: 1px solid #C8CED8;
}
.rightsavecookie {
    float: right;
    border-left: 1px solid #C8CED8;
}
.savecookie {
    display: inline-block;
    line-height: 40px;
    position: relative;
    width: calc(100% - 40px - 40px);
    height: 100%;
    text-align: center;
}

