/*
 * +---------------------------------------------------------------------+
 * | Yubei         | [ WE CAN DO IT JUST THINK ]
 * +---------------------------------------------------------------------+
 * | Licensed    | http://www.apache.org/licenses/LICENSE-2.0 )
 * +---------------------------------------------------------------------+
 * | Author       | Brian Waring <BrianWaring98@gmail.com>
 * +---------------------------------------------------------------------+
 * | Company   | 小红帽科技      <Iredcap. Inc.>
 * +---------------------------------------------------------------------+
 * | Repository | https://github.com/BrianWaring/Yubei
 * +---------------------------------------------------------------------+
 */

.hl_admin {
  float: right;
  line-height: 70px;
}

.hl_admin .icon_user {
    line-height: 86px;
    width: 26px;
    height: 30px;
    margin: 0 2px 0 0;

}

.hl_admin .admin_user {
    display: inline-block;
    margin-right: 15px;
}

.hl_admin ul {
    /*position: absolute;*/
    /*top: 59px;*/
    /*left: 35px;*/
    margin: -16px 0 0 32px;
    background: rgba(34,34,34,0.75);
    width: 125px;
    padding-top: 10px;
    display: none;
}

.hl_admin li a {
    display: block;
    line-height: 40px;
    background-color: rgba(34,34,34,0.75);
    color: #fff;
    min-width: 50px;
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.hl_admin li a:hover {
    background: #999
}

.icon_user {
    border-radius: 50%;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.header {
    background: transparent;
}

.header a {
    color: white;
}

.header li.active a {
    color: white;
    border-bottom: 4px solid white;
}

.head_reg a {
    background: transparent;
}

.index_banner {
    padding-top: 140px;
    color: white;
    text-align: center;
}

.next {
    display: block;
    width: 40px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: url('../images/down-next.png') no-repeat center;
    animation: heart 0.5s ease-in-out 1.0s infinite alternate;
}

@keyframes heart{
    from{transform:translate(0,0)}
    to{transform:translate(0,10px)}
}

.index_banner p:nth-child(1) {
    margin: 40px 0 10px 0;
}
.index_banner p {
    font-size: 44px;
    line-height: 180%;
}

.index_banner ul {
    width: 280px;
    height: 80px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
}

.index_banner ul li {
    width: 60px;
    padding: 0 5px 0 5px;
    float: left;
}

.index_banner a {
    font-size: 120%;
    color: #3c3c3c;
    background: white;
    border-radius: 28px;
    padding: 15px 40px 15px 40px;
}

#sup {
}

#sup h2 {
    font-weight: lighter;
    font-size: 38px;
    text-align: center;
}

#sup h3 {
    margin-top: 28px;
    margin-bottom: 68px;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
}

#sup ul li {
    width: 23%;
    height: 354px;
    float: left;
    margin: 0 12px 0 12px;
    box-shadow: 0 0 12px #e9f6fe;
    background: none;
}

#sup ul li i {
    width: 100%;
    /*height: 120px;*/
    padding: 34px 0 34px 0;
    display: inline-block;
    background-color: #f3faff;
    text-align: center;
}

/*#sup ul li:nth-child(1) i{*/
/*background: url('../images/anonymous.png') no-repeat center;*/
/*}*/
#sup ul h3 {
    font-size: 20px;
    padding: 0;
    /*margin: 0;*/
    margin-bottom: 26px;
    margin-top: 30px;
}

#sup ul p {
    padding: 0 36px 0 36px;
    line-height: 180%;

}

#sup ul li:hover {
    background: none;
    box-shadow: 0 0 12px #AED6DF;
}

#sup ul li:hover h3 {
    color: #00bcff;
}

.index_part {
    text-align: center;
    padding-top: 80px;
}

.index_part h2 {
    font-size: 38px;
    font-weight: lighter;
}

.index_part h3 {
    font-size: 18px;
    margin: 28px 0 68px 0;
    font-weight: lighter;
}

.index_part .product_attribute {
    height: 395px;
}

.index_part .product_attribute li {
    width: 23%;
    height: 354px;
    float: left;
    margin: 0 12px 0 12px;
    box-shadow: 0 0 12px #e9f6fe;
    background: none;
}

.index_part .product_attribute li i {
    width: 100%;
    /*height: 120px;*/
    padding: 34px 0 34px 0;
    display: inline-block;
    background-color: #f3faff;
    text-align: center;
}

.index_part .product_attribute li h3 {
    font-size: 20px;
    padding: 0;
    /*margin: 0;*/
    margin-bottom: 26px;
    margin-top: 30px;
}

.index_part .product_attribute li p {
    padding: 0 36px 0 36px;
    line-height: 180%;
}

.index_part .product_attribute li:hover {
    background: none;
    box-shadow: 0 0 12px #AED6DF;
    -webkit-transform: scale(1.05, 1.05);
}

.index_part .product_attribute li:hover img {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.index_part .product_attribute li:hover h3 {
    color: #00bcff;
}

.index_part .sense {
    margin-top: 118px;
    height: 320px;
    display: flex;
}

.index_part .sense li {
    /*6.0 高血压 */
    width: 18%;
    float: left;
    flex: 1;
}

.index_part .sense li div {
    height: 118px;
}

.index_part .sense li:nth-child(1) div {
    background: url("../images/data01.png") no-repeat top center;
}

.index_part .sense li:nth-child(2) div {
    background: url("../images/markting01.png") no-repeat top center;
}

.index_part .sense li:nth-child(3) div {
    background: url("../images/increase01.png") no-repeat top center;
}

.index_part .sense li:nth-child(4) div {
    background: url("../images/vote01.png") no-repeat top center;
}

.index_part .sense li:nth-child(5) div {
    background: url("../images/register01.png") no-repeat top center;
}

.index_part .sense li:nth-child(1):hover div {
    background: url("../images/data02.png") no-repeat top center;
}

.index_part .sense li:nth-child(2):hover div {
    background: url("../images/markting02.png") no-repeat top center;
}

.index_part .sense li:nth-child(3):hover div {
    background: url("../images/increase02.png") no-repeat top center;
}

.index_part .sense li:nth-child(4):hover div {
    background: url("../images/vote02.png") no-repeat top center;
}

.index_part .sense li:nth-child(5):hover div {
    background: url("../images/register02.png") no-repeat top center;
}

.index_part .sense i {
    width: 20px;
    height: 0;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    border: 1.5px solid #c3c3c3;
}

.index_part .sense h3 {
    margin: 16px 0 10px 0;
}

.index_part .sense p {
    color: #c3c3c3;
}

.index_partner {
    /*height: 100%;*/
    padding: 90px 0 50px 0;
    font-size: 18px;
    background: #00c1de;
    color: #ffffff;
}

.index_partner h2 {
    font-size: 36px;
    font-weight: lighter;
}

.index_partner p {
    margin: 30px 0 34px 0;
}

.index_partner a {
    padding: 10px 30px 10px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.index_partner ul {
    margin-top: -36px;
}

.index_partner ul li {
    display: inline-block;
    width: 286px;
    height: 106px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
}

.index_partner ul li:nth-child(1) {
    background-image: url("../images/aliyun.png");
}

.index_partner ul li:nth-child(2) {
    background-image: url("../images/tecent.png");
}

.index_partner ul li:nth-child(3) {
    background-image: url("../images/qiniu.png");
}

.index_partner ul li:nth-child(4) {
    background-image: url("../images/baidu.png");
}

.index_partner ul li:nth-child(5) {
    background-image: url("../images/alibaba.png");
}

.index_partner ul li:nth-child(6) {
    background-image: url("../images/alipay.png");
}

.index_partner ul li:nth-child(1):hover {
    background-image: url("../images/aliyun-hover.png");
}

.index_partner ul li:nth-child(2):hover {
    background-image: url("../images/tecent-hover.png");
}

.index_partner ul li:nth-child(3):hover {
    background-image: url("../images/qiniu-hover.png");
}

.index_partner ul li:nth-child(4):hover {
    background-image: url("../images/baidu-hover.png");
}

.index_partner ul li:nth-child(5):hover {
    background-image: url("../images/alibaba-hover.png");
}

.index_partner ul li:nth-child(6):hover {
    background-image: url("../images/alipay-hover.png");
}

.index_partner .partner-desc {
    width: 360px;
    float: left;
}

.index_partner .partner-list {
    width: 860px;
    float: left;
}

.more {
    margin-top: 44px;
    color: #15bdf9;
}

.down_img {
    margin-bottom: -5px;
    margin-right: 10px;
}

.i_news .l > a, .i_news .r > a {
    font-size: 14px;
    float: right;
}

.i_news .l > a:hover, .i_news .r > a:hover {
    color: #00ceff;
}
