{include file="common::header"/}

<style>
    body{
        background: #ffffff;
    }
    .page_nav{
        line-height: 60px;
        padding: 0 20px 0 20px;
    }
    .page_nav a{
        /*text-decoration: underline;*/
        color: #939393;
    }
    .page_nav a:hover{
        color: #0d0d0d;
        text-decoration: underline;
    }
    .recharge-desc {
        padding: 26px 0 0 18px !important;
        text-align: left;
        line-height: 180%;
    }

    .recharge-desc p {
        display: block;
        text-align: left;
    }

    .recharge-desc a {
        display: inline-block;
        width: auto;
        height: auto;
        border: none;
        line-height: inherit;
        font-size: inherit;
        color: #04a9fe;

    }

    .recharge-desc a:hover {
        color: #04a9fe;
        background: transparent;
    }
</style>
<div class="vip_content">
    <div class="w1200">
        {include file="user::menu"/}
        <div class="r vip_list">
            <div class="vs_con active">
                <h3>账号管理</h3>
                <div>
                    <div class="i-b">
                        <i class="vs_pass"></i>
                        <a onclick="page('修改信息','{:url(\'index/User/edit\')}',this,'750px','650px')">修改信息</a>
                    </div>
                    <div class="i-b"><!--如果绑定手机   a连接隐藏-->
                        <i class="vs_phone active"></i>
                        <a>已绑定</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{include file="common::footer"/}
<script>
    //弹出页面
    function page(title, url, obj, w, h) {
        if(title == null || title == '') {
            title = false;
        };
        if(url == null || url == '') {
            url = "404.html";
        };
        if(w == null || w == '') {
            w = '700px';
        };
        if(h == null || h == '') {
            h = '350px';
        };
        iframeObjName = obj;
        //如果手机端，全屏显示
        if(window.innerWidth <= 768) {
            var index = layer.open({
                type: 2,
                title: title,
                area: [320, h],
                fixed: false, //不固定
                content: url
            });
            layer.full(index);
        } else {
            var index = layer.open({
                type: 2,
                title: title,
                area: [w, h],
                fixed: false, //不固定
                content: url
            });
        }
    }
</script>
</body>
</html>