
<div class="l vip_left">
    <ul>
        <li class="Userindex"><a href="/user/"><i></i>我的账户</a></li>
        <li class="Useraccount"><a href="/user/account"><i></i>基本信息</a></li>
        <li class="Orderindex"><a href="/user/order"><i></i>订单记录</a></li>
        <li class="Ordersettle"><a href="/user/settle"><i></i>结算记录</a></li>
        <li class="Balancerecord"><a href="/user/balance"><i></i>资金记录</a></li>
        <li class="Balancepaid"><a href="/user/paid"><i></i>打款记录</a></li>
        <li class="Apiindex"><a href="/user/open"><i></i>开放接口</a></li>
    </ul>
</div>